env:
  browser: true
  jquery: true
  node: true

globals:
  angular: false

rules:
  global-strict: 0
  no-alert: 1
  no-process-exit: 0
  no-shadow: 0
  no-unused-vars: [1, {args: none}]
  no-use-before-define: [2, nofunc]
  quotes: [1, single]
