<article>
  <header>
    <nav class="breadcrumbs">
      <a ng-href="{{ ROUTES.HOME }}">Home</a>
      <a class="current">{{ title }}</a>
    </nav>
    <h1>{{ title }}</h1>
  </header>

  <p class="lead">Get a Saved Project from Gist</p>

  <form action="/api/gist" method="post" id="gist-form">

    <div class="row collapse">
    <div class="small-6 large-4 columns">
      <span class="prefix">https://gist.github.com/</span>
    </div>
    <div class="small-6 large-8 columns">
      <input type="text" placeholder="Gist ID" name="gist" id="gist" autofocus>
    </div>
  </div>

    <button type="submit" >Load Gist</button>
  </form>

  <div class="result-destination">
    <!-- result information will be here -->
    <div class="valid-info">
      <textarea></textarea>
      <div class="result-destination-buttons">
        <button>Run Load Test</button>
        <button>Edit with Project Builder</button>
      </div>
    </div>

    <!-- no good? -->
    <div class="invalid-info"></div>
  </div>


</article>