<article>
  <header>
    <nav class="breadcrumbs">
      <a href="{{ ROUTES.HOME }}">Home</a>
      <a class="current">{{ title }}</a>
    </nav>
    <h1>{{ title }}</h1>
  </header>

  <!-- <p class="lead">Reference content.</p> -->

  <h3>Usage/Getting Started</h3>
  <ul>
    <li><a href="https://wiki.mozilla.org/QA/Services/LoopServerLoadTesting">wiki.mozilla.org/QA/Services/LoopServerLoadTesting</a> &mdash; Loop Server Load Testing</li>
  </ul>

  <h3>Loads Tool v1</h3>
  <ul>
    <li><a href="http://loads.readthedocs.org/en/0.2/">loads.readthedocs.org/en/0.2/</a></li>
    <li><a href="https://mana.mozilla.org/wiki/display/CLOUDSERVICES/Loads+v1+TroubleShooting">mana.mozilla.org/wiki/display/CLOUDSERVICES/Loads+v1+TroubleShooting</a></li>
    <li><a href="https://loads.services.mozilla.com/">loads.services.mozilla.com/</a> &mdash; Web UI, v1</li>
  </ul>

  <h3>Loads Tool v2</h3>
  <ul>
    <li><a href="https://github.com/loads/loads-broker">github.com/loads/loads-broker</a> &mdash; loads broker</li>
  </ul>

  <h3>Mozilla Services - products under test</h3>
  <ul>
    <li><a href="https://github.com/mozilla-services/pushgo/">github.com/mozilla-services/pushgo</a> &mdash; pushgo repo</li>
    <li><a href="https://github.com/mozilla-services/loop-server">github.com/mozilla-services/loop-server</a> &mdash; loop-server repo</li>
    <li><a href="https://github.com/mozilla-services/tiles-loadtest">github.com/mozilla-services/tiles-loadtest</a> &mdash; tiles-loadtest repo</li>
    <li><a href="https://github.com/mozilla/fxa-auth-server/tree/master/test/load">github.com/mozilla/fxa-auth-server/tree/master/test/load</a> &mdash; fxa-auth-server repo</li>
  </ul>
</article>
