<article>
  <header>
    <nav class="breadcrumbs">
      <a ng-href="{{ ROUTES.HOME }}">Home</a>
      <a class="current">{{ title }}</a>
    </nav>
    <h1>{{ title }}</h1>
  </header>

  <table class="run-table">
    <caption>
      <small class="lastUpdated">Last updated: <time ng-bind="lastSync | date:'medium'"></time></small>
    </caption>
    <thead>
      <tr runs-head></tr>
    </thead>
    <tbody>
      <tr ng-show="runs.length" ng-repeat="run in runs" runs-body id="run-{{ run.id }}"></tr>
      <tr ng-show="!runs.length">
        <td>There are no runs.</td>
      </tr>
    </tbody>
  </table>
</article>
