<article>
  <header>
    <nav class="breadcrumbs">
      <a ng-href="{{ ROUTES.HOME }}">Home</a>
      <a class="current">{{ title }}</a>
    </nav>
    <h1>{{ title }}</h1>
  </header>

  <p class="lead">Project &gt; Strategy &gt; Container Generation Menu</p>

  <form action="" method="post" class="test-form">
    
    <div class="step1">
      <table class="container-tool-table project-table">
        <tr>
          <th colspan="2"><h3>Project</h3></th>
        </tr>
        <tr>
          <th><label for="project_title" class="left">Title:</label></th>
          <td><input type="text" id="project_title" name="project_title" /></td>
        </tr>
      </table>
    </div>
    <div class="container-tool-strategies step2">
      <div class="strategy-template">
        <table class="container-tool-table strategy-table">
          <tr>
            <th colspan="2"><h3>Strategy <span class="strategy-num">1</span></h3></th>
          </tr>
          <tr>
            <th><label for="strategy_title" class="left">Title:</label></th>
            <td><input type="text" id="strategy_title" name="strategy_title" /></td>
          </tr>
          <tr>
            <th><label for="strategy_description" class="left">Description:</label></th>
            <td><textarea id="strategy_description" name="strategy_description" rows="4"></textarea></td>
          </tr>
        </table>

        <div class="container-tool-containers step3">
          <div class="container-template">
            <table class="container-tool-table">
              <tr>
                <th colspan="2"><h3>Container Set <span class="container-num">1</span></h3></th>
              </tr>
              <tr>
                <th><label for="container_name" class="left">Name:</label></th>
                <td><input type="text" id="container_name" name="container_name"></td>
              </tr>
              <tr>
                <th><label for="instance_count" class="left">Instance Count:</label></th>
                <td><input type="number" id="instance_count" name="instance_count" min="1"></td>
              </tr>
              <tr>
                <th><label for="instance_type" class="left">Instance Type:</label></th>
                <td><select id="instance_type" name="instance_type"></select></td>
              </tr>
              <tr>
                <th><label for="run_max_time" class="left">Run Max Time:</label></th>
                <td><input type="number" id="run_max_time" name="run_max_time" min="0"></td>
              </tr>
              <tr>
                <th><label for="run_delay" class="left">Run Delay:</label></th>
                <td><input type="number" id="run_delay" name="run_delay" min="0"></td>
              </tr>
              <tr>
                <th><label for="container_name" class="left">Container Name:</label></th>
                <td><input type="text" id="container_name" name="container_name" placeholder="kitcambridge/pushtest:latest"></td>
              </tr>
              <tr>
                <th><label for="container_url" class="left">Container URL:</label></th>
                <td>
                  <input type="text" id="container_url" name="container_url" placeholder="https://s3.amazonaws.com/loads-docker-images/pushgo-1.4rc3.tar.bz2" list="container_url_list">

                  <datalist id="container_url_list">
                    <option value="https://s3.amazonaws.com/loads-docker-images/pushgo-1.4rc3.tar.bz2" />
                    <option value="https://accounts.firefox.com/" />
                    <option value="https://reddit.com/" />
                  </datalist></td>
              </tr>
              <tr>
                <th><label for="environment_data" class="left">Environment Data:</label></th>
                <td><textarea id="environment_data" name="environment_data" rows="6" placeholder="PUSHGO_METRICS_STATSD_HOST=$STATSD_HOST:$STATSD_PORT\nPUSHGO_DISCOVERY_TYPE=etcd\nPUSHGO_DISCOVERY_SERVERS=http://internal-loads-test-EtcdELB-I7U9KLC25MS9-1217877132.us-east-1.elb.amazonaws.com:4001\nPUSHGO_DISCOVERY_DIR=test-$RUN_ID\nPUSHGO_DEFAULT_RESOLVE_HOST=false\nPUSHGO_DEFAULT_CURRENT_HOST=testcluster.mozilla.org\nPUSHGO_ROUTER_DEFAULT_HOST=$PRIVATE_IP\nPUSHGO_DISCOVERY_REFRESH_INTERVAL=5s"></textarea></td>
              </tr>
              <tr>
                <th><label for="dns_mapping" class="left">DNS Mapping:</label></th>
                <td><input type="text" id="dns_mapping" name="dns_mapping"  placeholder="testcluster.mozilla.org"></td>
              </tr>
              <tr>
                <th><label for="port_mapping" class="left">Port Mapping:</label></th>
                <td><input type="text" id="port_mapping" name="port_mapping" placeholder="8080:8090,8081:8081,3000:3000"></td>
              </tr>
              <tr>
                <th><label for="volume_mapping" class="left">Volume Mapping:</label></th>
                <td><input type="text" id="volume_mapping" name="volume_mapping" placeholder="/var/log:/var/log/$RUN_ID:rw"></td>
              </tr>
              <tr>
                <th><label for="docker_series" class="left">Docker Series:</label></th>
                <td><input type="text" id="docker_series" name="docker_series"  placeholder="push_tester"></td>
              </tr>
            </table>
          </div>

          <button class="test-add-container" type="button">Add Container</button>
        </div>
      </div>
    </div>

    <button ng-click="addStrategyToProject(this)" type="button">Add Strategy</button>
    <button type="submit">Generate JSON</button>
  </form>
  <h2>Generated JSON</h2>
  <p>The following JSON has been generated by your directives:</p>
  <textarea id="container-tool-textarea" class="container-tool-textarea"></textarea>

  </article>
