<div>
  <table class="step2 container-tool-table">
    <tr>
      <th colspan="2"><h3>Strategy <span></span></h3></th>
    </tr>
    <tr>
      <th><label for="strategy_title" class="left">Title:</label></th>
      <td><input type="text" id="strategy_title" name="strategy_title" /></td>
    </tr>
    <tr>
      <th><label for="strategy_description" class="left">Description:</label></th>
      <td><textarea id="strategy_description" name="strategy_description" rows="4"></textarea></td>
    </tr>
  </table>

  <div class="container-tool-containers"></div>
</div>