<footer class="row">
  <div class="small-12 columns">
    <hr />
    <nav>
      <dl class="sub-nav right" role="menu">
        <dt><strong>&copy; {{ YEAR }} <a href="https://github.com/loads/loads-web">Mozilla</a></strong></dt>

        <!-- <dd><a ng-href="{{ ROUTES.HOME }}">Home</a></dd> -->
        <!-- <dd><a ng-href="{{ ROUTES.TESTS }}">Tests</a></dd> -->
        <dd><a ng-href="{{ ROUTES.RUNS }}">Runs</a></dd>
        <dd><a ng-href="{{ ROUTES.PROJECTS_LISTING }}">Projects</a></dd>
        <dd><a ng-href="{{ ROUTES.CLUSTER }}">Cluster Management</a></dd>
        <dd><a ng-href="{{ ROUTES.REFERENCE }}">Reference</a></dd>
      </dl>
    </nav>
  </div>
</footer>
