%rebase base.tmpl

<h3>Cluster of {{numagents}} agent(s)</h3>

<div>
  <a href="/health_check">Launch a health check</a>
</div>

<ul>
%for host, agents in hosts:
  <li>
  Host : {{host}}
  <ul>
  %for agent_info in agents:
    <li>{{agent_info['pid']}}
    %if agent_info['status']['status'] == {}:
     - Idling
    %else:
     - Busy 
   <ul>
    %for pid, info in agent_info['status']['status'].items():
     <li>process {{pid}} works on <a href="/run/{{info['run_id']}}">{{info['run_id']}}</a>.</li>
    %end
   </ul>
    %end
    </li>
  %end
  </ul>
  </li>
%end
</ul>
