<html>
  <head>
    <script src="/media/jquery-2.0.3.min.js"></script>
    <script src="/media/gauge.min.js"></script>
    <script src="/media/spin.min.js"></script>
    <link href="/media/loads.css" rel="stylesheet" />
  </head>
  <body>
    %include
  </body>
</html>
