<html>
  <head>
    <script src="/media/jquery-2.0.3.min.js"></script>
    <script src="/media/spin.min.js"></script>
    <script src="/media/handlebars.js"></script>
    <script src="/media/loads.js"></script>
    <link href="/media/loads.css" rel="stylesheet" />
  </head>
  <body>
    <div class="header">
      <a href="/">
        <img src="/media/logo.png" id="logo"></img><h1>Loads cluster</h1>
      </a>
    </div>
    <div class="content">
    %include
    </div>
    <div class="footer">
    © Copyright 2013, Mozilla Services.
    </div>
  </body>
</html>
