%rebase base.tmpl
<div class="dashboard">
 <div class="widget">
  <div class="widgetTitle">Agents</div>
  <div class="widgetValue">
   {{len(broker_info['agents'])}}
  </div>
 </div>

 <div class="widget">
  <div class="widgetTitle">Active Runs</div>
  <div class="widgetValue">
   {{len(runs)}}
  </div>
 </div>

 <div class="widget">
  <div class="widgetTitle">Stored Runs</div>
  <div class="widgetValue">
   {{len(inactives)}}
  </div>
 </div>

</div>

<div style="clear:both"></div>

<h2>Active Runs</h2>
%if len(runs) > 0:
<div class="dashboard">
  %for index, (started, fqn, run_id) in enumerate(runs):
 <div class="widget run">
  <div class="widgetTitle">Run nº{{index+1}} - {{started}}</div>
  <div class="widgetSmallValue">
    <a href="/run/{{run_id}}">
     <div class="fqn">{{fqn}}</div>

   </a>
  </div>
  </div>
  <div style="clear:both"></div>
  %end
</div>
%else:
<div class="dashboard">
  Nothing is running.
</div>
%end

<h2>Stored Runs</h2>
<ul>
  %for index, (started, fqn, run_id) in enumerate(inactives):
  <li>
    <a href="/run/{{run_id}}">{{started}}: {{fqn}}</a>
  </li>
  %end
</ul>
