%rebase base.tmpl
<dl id="status">
  <h3>Status</h3>
  <dt>Agents</dt>
  <dd>{{len(broker_info.get('agents', []))}}</dd>

  <dt>Running tests</dt>
  <dd>{{len(runs)}}</dd>

  <dt>Stored tests</dt>
  <dd>{{len(inactives)}}</dd>
</dl>

<dl id="active">

<h3>Active Runs</h3>
%if len(runs) > 0:
  %for index, (started, fqn, run_id, info) in enumerate(runs):
  <dt id="run-{{run_id}}">Run nº{{index+1}} - {{started}}</dt>
  <dd id="run-{{run_id}}-link">
    <a href="/run/{{run_id}}">{{fqn}}</a>
  </dd>
  %end
%else:
 <span id="norun">
  Nothing is running.
 </span>
%end
</dl>

<div style="clear: both"></div>

<h3>Stored Runs</h3>
<table class="stored">
  <thead>
    <tr>
      <th>Build</th>
      <th>Test</th>
      <th>Duration</th>
      <th>Finished</th>
    </tr>
  </thead>
  <tbody id="stored">
    %for index, (started, fqn, run_id, info) in enumerate(inactives):
  <tr id="inactive-{{run_id}}" class="{{info['counts']['success'] and 'green' or 'red'}}">
    <td><span class="status {{info['counts']['success'] and 'green' or 'red'}}"></span>{{run_id}}</td>
    <td><a href="/run/{{run_id}}">{{fqn}}</a></td>
    <td>{{info['counts']['elapsed']}}</td>
    <td>{{info['counts']['finished']}} ago</td>
  </tr>
  %end
  </tbody>
</table>


<script>
  $(document).ready(function() {
    initStatusSocket("ws://{{wsserver}}:{{wsport}}/status/websocket");
  });
</script>
