%rebase base.tmpl

<h3>Login</h3>
<p>If you need an account to run / visualize load tests, send an email to tarek@mozilla.com</p>

<div>
  <form method="POST">
  Username <input type="text" name="username"/>
  Password <input type="password" name="password"/>
  <input type="submit"/>
</form>

</div>
