%rebase base.tmpl

<h3>Login</h3>

<div>
  <form method="POST">
  Username <input type="text" name="username"/>
  Password <input type="password" name="password"/>
  <input type="submit"/>
</form>

</div>
