%rebase base.tmpl
%if active:
  <div id="spinner">
  </div>
  <div id="stop">
  <form action="/run/{{run_id}}/stop" method="GET">
     <button class="thoughtbot">Stop</button>
  </form>
  </div>
%end

%if info['metadata']['fqn'].endswith('test_health'):
<p>Health Check. Loads runs a dummy test across all agents to verify that the cluster is healthy.</p>
%else:
<p>Testing <strong>{{info['metadata']['fqn']}}</strong></p>
%end

<dl id="summary">

  <h3>Status</h3>

  %if 'user_id' in info['metadata']:
  <dt>Test was launched by</dt>
  <dd>{{info['metadata']['user_id']}}</dd>
  %end

  <dt>Run Id</dt>
  <dd>{{run_id}}</dd>

  <dt>Duration</dt>
  <dd id='count-elapsed'>{{info['counts']['elapsed']}}</dd>

  <dt>Started</dt>
  <dd>{{info['metadata']['started']}}</dd>

  <dt>Ended</dt>
  <dd>{{info['metadata']['ended']}}</dd>

  <dt>State</dt>
  <dd id='state'>{{info['metadata']['active_label']}}</dd>

  <h3>Configuration</h3>

  <dt>Users</dt>
  <dd>{{info['metadata']['users']}}</dd>

  <dt>Hits</dt>
  <dd>{{info['metadata']['hits']}}</dd>

  <dt>Agents</dt>
  <dd>{{info['metadata']['agents']}}</dd>

  <dt>Duration</dt>
  <dd>{{info['metadata']['duration']}}</dd>

  <dt>Server URL</dt>
  <dd>{{info['metadata']['server_url']}}</dd>

</dl>


<dl id="results">

 <h3>Results</h3>
 <dt>Tests over</dt>
 <dd id="count-stopTest">{{info['counts'].get('stopTest', 0)}}
 </dd>

 <dt>Successes</dt>
 <dd id="count-addSuccess">{{info['counts'].get('addSuccess', 0)}}</dd>
 <dt>Failures</dt>
 <dd id="count-addFailure">{{info['counts'].get('addFailure', 0)}}</dd>

 <dt>Errors</dt>
 <dd id="count-addError">{{info['counts'].get('addError', 0)}}</dd>

 <dt>TCP Hits</dt>
 <dd id="count-add_hit">{{info['counts'].get('add_hit', 0)}}</dd>

 <dt>Opened web sockets</dt>
 <dd id="count-socket_open">{{info['counts'].get('socket_open', 0)}}</dd>
 <dt>Total web sockets</dt>
 <dd id="xcount-socket_open">{{info['counts'].get('socket_open', 0)}}</dd>

 <dt>Bytes/websockets</dt>
 <dd id="count-socket_message">{{info['counts'].get('socket_message', 0)}}</dd>

 <dt>Requests / second (RPS)</dt>
 <dd id="count-rps">{{ info['counts'].get('rps') }}</dd>



%if len(info['custom']) > 0:
 <h3>Custom metrics</h3>
 %for name, value in info['custom'].items():
  <dt>{{name}}</dt>
  <dd id="count-{{name}}">{{value}}</dd>
 %end
</dl>
%end

<div id="errors">
<h3>Errors</h3>

%for hashed, (count, tb) in info['errors']:
  <div id="error-{{hashed}}">
    <strong><span id="error-{{hashed}}-count">{{count}}
    %if count == 100:
    +
    %end
    </span>
            occurrences:
    </strong>

    <pre>{{tb}}</pre>
  </div>
%end
</div>

%if active:
<script>
  $(document).ready(function() {
    initSpinner('spinner');
    initRunSocket("{{wsscheme}}://{{wsserver}}:{{wsport}}/run/{{run_id}}/websocket");
  });
</script>
%end
