body {
  font-family: Arial,Helvetica,sans-serif;
}

div.dashboardHeader {
  width: 100%;
  height: 50px;
  padding: 5px;
  text-transform: uppercase ;
  display: inline-block;
  font-size: 80%;
}

h1 {
  color: rgb(226, 107, 29);
  border-bottom: 1px solid #c2c2c2;
  line-height: 1.6;
}

h2, h3 {
  color: rgb(226, 107, 29);

}

div.dashboard {
  width: 100%;
  height: 150px;
}

div.widgetTitle {
  text-transform: uppercase ;
  color: gray;
}

div.options {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  padding: 5px;
  text-transform: uppercase ;
  display: inline-block;
  font-size: 80%;

}

div.widgetSmallValue a {
  color: rgb(77, 163, 213);

}

div.widgetSmallValue {
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
  line-height: 100px;
  font-weight: 700;
  height: 100px;
  color: rgb(77, 163, 213);
  background: transparent;
}


div.widgetValue {
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
  line-height: 100px;
  font-weight: 700;
  height: 100px;
  color: rgb(77, 163, 213);
  /*border-right: 1px solid #c2c2c2;*/
  background: transparent;
}


div.widget {
  float: left;
  height: 130px;
  width: 150px;
  padding: 10px;
  margin-top: 8px;
  margin-left: 8px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.07) 100%) repeat scroll 0% 0% transparent;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

div.header a {
  text-decoration: none;
}

div.run {
  width: 500px;
}

div.run a {
  text-decoration: None;
}

div.fqn {
  text-align: center;
  height: 100px;
}

div.date {
  text-align: center;
}

#summary, #results, #status, #active {
  float: left;
  width: 49%;
  padding: 5px;
}

#stored {
  float: left;
  width: 99%;
  padding: 5px;
}


#summary dt, #results dt, #status dt{
  width: 150px;
  float: left;
  clear: left;
}

#results dt {
  width: 250px;
}

#stored dt {
  width: 400px;
  float: left;
  clear: left;
}

#stop {
    float: right;
    margin-right: 20px;
}


/* thoughtbot (inspired by thoughtbot.com)
*******************************************************************************/
button.thoughtbot {
  background-color: #ee432e;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee432e), color-stop(50%, #c63929), color-stop(50%, #b51700), color-stop(100%, #891100));
  background-image: -webkit-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: -moz-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: -ms-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: -o-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  border: 1px solid #951100;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
  box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
  color: #fff;
  font: bold 20px/1 "helvetica neue", helvetica, arial, sans-serif;
  padding: 12px 0 14px 0;
  text-align: center;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8);
  width: 150px; }
  button.thoughtbot:hover {
    background-color: #f37873;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f37873), color-stop(50%, #db504d), color-stop(50%, #cb0500), color-stop(100%, #a20601));
    background-image: -webkit-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    background-image: -moz-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    background-image: -ms-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    background-image: -o-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    background-image: linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    cursor: pointer; }
  button.thoughtbot:active {
    background-color: #d43c28;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d43c28), color-stop(50%, #ad3224), color-stop(50%, #9c1500), color-stop(100%, #700d00));
    background-image: -webkit-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: -moz-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: -ms-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: -o-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
    box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4); }

