body {
  font-family: Arial,Helvetica,sans-serif;
}

div.dashboardHeader {
  width: 100%;
  height: 50px;
  padding: 5px;
  text-transform: uppercase ;
  display: inline-block;
  font-size: 80%;
}

h1 {
  color: rgb(226, 107, 29);
  border-bottom: 1px solid #c2c2c2;
  line-height: 1.6;
}

h2, h3 {
  color: rgb(226, 107, 29);

}

div.dashboard {
  width: 100%;
  height: 150px;
}

div.widgetTitle {
  text-transform: uppercase ;
  color: gray;
}

div.options {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  padding: 5px;
  text-transform: uppercase ;
  display: inline-block;
  font-size: 80%;

}

div.widgetSmallValue a {
  color: rgb(77, 163, 213);

}

div.widgetSmallValue {
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
  line-height: 100px;
  font-weight: 700;
  height: 100px;
  color: rgb(77, 163, 213);
  background: transparent;
}


div.widgetValue {
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
  line-height: 100px;
  font-weight: 700;
  height: 100px;
  color: rgb(77, 163, 213);
  /*border-right: 1px solid #c2c2c2;*/
  background: transparent;
}


div.widget {
  float: left;
  height: 130px;
  width: 150px;
  padding: 10px;
  margin-top: 8px;
  margin-left: 8px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.07) 100%) repeat scroll 0% 0% transparent;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

div.header a {
  text-decoration: none;
}

div.run {
  width: 500px;
}

div.run a {
  text-decoration: None;
}

div.fqn {
  text-align: center;
  height: 100px;
}

div.date {
  text-align: center;
}

#summary, #results {
  float: left;
  width: 49%;
  padding: 5px;
}

#summary dt, #results dt {
  width: 150px;
  float: left;
  clear: left;
}

 #results dt {
  width: 250px;
}

