body {
  font-family: Arial,Helvetica,sans-serif;
}

p.summary {
 color: gray;
 font-style: italic;
}

div.dashboardHeader {
  width: 100%;
  height: 50px;
  padding: 5px;
  text-transform: uppercase ;
  display: inline-block;
  font-size: 80%;
}

h1 {
  color: rgb(226, 107, 29);
  float: left;
  text-shadow: 0.01em 0.01em #C2C2C2;
}

div.header {
  clear: right;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #c2c2c2;

}

div.footer {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  padding-top: 10px;
  border-top: 1px solid #c2c2c2;
  text-align: center;
  color: rgb(102, 102, 102);
  font-size: 65%;

}


div.header a {
  text-decoration: none;
}

div.content {
  padding: 5px;
}

#logo {
  float: left;
  padding: 5px;
  padding-right: 10px;
}

h2, h3 {
  color: rgb(226, 107, 29);
  text-shadow: 0.005em 0.005em #C2C2C2;
}

div.dashboard {
  width: 100%;
  height: 80px;
}

div.widgetTitle {
  text-transform: uppercase ;
  color: gray;
}

div.options {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  padding: 5px;
  text-transform: uppercase ;
  display: inline-block;
  font-size: 80%;

}

div.widgetSmallValue a {
  color: rgb(77, 163, 213);

}

div.widgetSmallValue {
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
  line-height: 100px;
  font-weight: 700;
  height: 100px;
  color: rgb(77, 163, 213);
  background: transparent;
}


div.widgetValue {
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
  line-height: 100px;
  font-weight: 700;
  height: 100px;
  color: rgb(77, 163, 213);
  /*border-right: 1px solid #c2c2c2;*/
  background: transparent;
}


div.widget {
  float: left;
  height: 130px;
  width: 150px;
  padding: 10px;
  margin-top: 8px;
  margin-left: 8px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.07) 100%) repeat scroll 0% 0% transparent;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

div.run {
  width: 500px;
}

div.run a {
  text-decoration: None;
}

div.fqn {
  text-align: center;
  height: 100px;
}

div.date {
  text-align: center;
}


#summary dt, #results dt, #status dt, #active dt{
  width: 250px;
  float: left;
  clear: left;
}

#active a {
  color: black;
}

#results dt {
  width: 250px;
}

#stored dt {
  width: 400px;
  float: left;
  clear: left;
}

#stop {
    float: right;
    margin-right: 20px;
}


/* thoughtbot (inspired by thoughtbot.com)
*******************************************************************************/
button.thoughtbot {
  background-color: #ee432e;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee432e), color-stop(50%, #c63929), color-stop(50%, #b51700), color-stop(100%, #891100));
  background-image: -webkit-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: -moz-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: -ms-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: -o-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  border: 1px solid #951100;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
  box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
  color: #fff;
  font: bold 20px/1 "helvetica neue", helvetica, arial, sans-serif;
  padding: 12px 0 14px 0;
  text-align: center;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8);
  width: 150px; }
  button.thoughtbot:hover {
    background-color: #f37873;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f37873), color-stop(50%, #db504d), color-stop(50%, #cb0500), color-stop(100%, #a20601));
    background-image: -webkit-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    background-image: -moz-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    background-image: -ms-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    background-image: -o-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    background-image: linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    cursor: pointer; }
  button.thoughtbot:active {
    background-color: #d43c28;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d43c28), color-stop(50%, #ad3224), color-stop(50%, #9c1500), color-stop(100%, #700d00));
    background-image: -webkit-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: -moz-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: -ms-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: -o-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
    box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4); }

span.green {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Ij4NCjxwYXRoIGZpbGw9IiMwRDgxMzYiIGQ9Ik01LDBDMi4yMzksMCwwLDIuMjQsMCw1YzAsMi43NjIsMi4yMzksNSw1LDVjMi43NjIsMCw1LTIuMjM4LDUtNUMxMCwyLjI0LDcuNzYyLDAsNSwwIE00LjUzNSw3LjgyNA0KCUwyLjEzOSw1LjQyNUwzLjY1LDMuOTE0bDAuODg1LDAuODg1bDIuMDQ0LTIuMDQ1bDEuNTEsMS41MTNMNC41MzUsNy44MjR6Ii8+DQo8L3N2Zz4NCg==");
}

span.yellow {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Ij4NCjxwYXRoIGZpbGw9IiNFN0QxMDAiIGQ9Ik01LDBDMi4yMzksMCwwLDIuMjM4LDAsNWMwLDIuNzYxLDIuMjM5LDUsNSw1YzIuNzYyLDAsNS0yLjIzOSw1LTVDMTAsMi4yMzgsNy43NjIsMCw1LDAiLz4NCjwvc3ZnPg0K");
}

span.red {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Ij4NCjxwYXRoIGZpbGw9IiNDRDE4MUIiIGQ9Ik0xLjQ2MywxLjQ2M2MtMS45NTEsMS45NTItMS45NTEsNS4xMTksMC4wMDEsNy4wNzJjMS45NTQsMS45NTMsNS4xMiwxLjk1Myw3LjA3MSwwDQoJYzEuOTUzLTEuOTUxLDEuOTUzLTUuMTE4LDAtNy4wNzFDNi41ODItMC40ODgsMy40MTctMC40ODgsMS40NjMsMS40NjMgTTcuNDQ5LDMuNzczTDYuMjI2LDVsMS4yMjQsMS4yMjZMNi4yMjYsNy40NDlMNSw2LjIyNg0KCUwzLjc3Myw3LjQ0OUwyLjU1LDYuMjI2TDMuNzczLDVMMi41NSwzLjc3M2wxLjIyNS0xLjIyNUw1LDMuNzczbDEuMjI2LTEuMjI1TDcuNDQ5LDMuNzczeiIvPg0KPC9zdmc+DQo=");
}

table.stored td {
  padding-right: 6px;
  color: rgb(102, 102, 102);

}

table.stored th {
  font-size: 13px;
  border-bottom: 2px solid rgb(255, 255, 255);
  text-align: left;
  padding: 5px 20px 5px 0px;
}

tr.green a {
  color: rgb(3, 128, 53);
  background-color: rgb(250, 255, 250);
  display: block;
}

tr.red a {
  color: rgb(204, 0, 0);
  display: block;
  background-color: rgb(250, 255, 250);

}


.status{ display:inline-block;width:10px;height:10px;margin-right:2px;background-size:auto auto;background-position:0px 0px}

#agents {
  float: right;
  color: rgb(226, 107, 29);
  background-color: rgb(250, 255, 250);
  font-size: 70%;
}

#message {
  padding: 5px;
  color: #F9DE4E;
  font-size: 120%;
  font-weight: bold;
  float: right;
  vertical-align: middle;
  text-shadow: 0.01em 0.01em #C2C2C2;
}

